APP_NAME = 
DESCRIPTION = 
VERSION = 
APP_SECRET=a360367b367f0548884620620fbc8153

# Database
DB_TYPE=postgresql
DB_NAME=digimart
DB_USER=macbook
DB_PASSWORD=5657
DB_HOST="localhost"
DB_PORT=5432
DB_URL=postgresql://macbook:5657@localhost:5432/digimart

#Google
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CONF_URL=

#JWT
ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_ALGORITHM=HS256
JWT_REFRESH_EXPIRY=30

#Avatar Upload
MAX_FILE_SIZE=5
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret


