APP_NAME = 
DESCRIPTION = 
VERSION = 

# Database
DB_TYPE=postgresql
DB_NAME=digimart
DB_USER=macbook
DB_PASSWORD=5657
DB_HOST="localhost"
DB_PORT=5432
DB_URL=postgresql://macbook:5657@localhost:5432/digimart

#Google
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CONF_URL=